p{
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: 5px solid rgb(136, 162, 197);
}
.com-border-box{
    box-sizing: border-box;
    background-color: rgb(195, 173, 230);
}
.sem-border-box{
    background-color: pink;
}