*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 1500px ;
    background-color: rgb(236, 161, 161);
}

.static{
    position: static;
    background-color: lightcoral;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;
}

.container{
    position: relative;
    width: 500px;
    height: 300px;
    margin: 30px auto;
   background-color: blueviolet;
   text-align: center;
   color: white;
}

.relative{
    position: relative;
    background-color: rgb(185, 56, 218);
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 200px;
    top: 0;
    right: 0;
    bottom: 0 ;
    left: 0;
}
