.conteiner{
    background-color: red;
     color:white;
}

.enfase{
    background-color: white;
    color: black;
    }
    
/*.divisao span {
    background-color: white;
}
.realce{
    color: red;
}*/
