p{
    background-color: orange;
}

p{
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 3px solid rgb(233, 107, 107);
    border-radius: 10px;
    background-color: lightpink;
    color: black;
    
}