.divisao{
    background-color: red;
    color:white;
}
p{
    background-color: pink;
    color: black;
}

    


p{
padding: 20px;

}

p{
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 60px;
    padding-right: 0;

}