* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.bloco {
    margin: 10px auto;
    width: 600px;
    padding: 10px;
    text-align: center;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #f0f0f0;
}
 
.bloco p {
    margin-top: 5px;
    font-size: 24px;
}
 
.bloco h2 {
    margin-bottom: 10px;
}
 
button {
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    cursor: pointer;
    transition: 1s;
}
 
.b-transition {
    transition: 2s;
}

.b-transition:hover {
    background-color: darkred;
    transform: scale(1.2);
}

.b-property{
    width: 150px;
    transition-property: width;;
    transition: 2s;
}

.b-property:hover{
    width: 400px;
    background-color: darkblue;
}
.b-duration{
    transition-duration: 2s;
}

.b-duration:hover{
    background-color: darkred;
    transform: scale(1.2);

}

.b-delay{
    transition-delay: 2s;
}

.b-delay:hover{
    background-color: darkred;
    transform: scale(1.2);
}

.b-timing{
    transition-timing-function: linear;
    transition: 2s;
}

.b-timing:hover{
    background-color: darkred;
    transform: scale(1.2);
}

.b-animado{
    width: 150px;
    transition: 2s;
}

.b-animado:hover{
    width: 400px;
    background-color: darkblue;
}

